// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src:  font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: 'Berlin Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Berlin Regular'), url('./app/assets/fonts/Berlin.woff') format('woff');
  }

  @font-face {
  font-family: 'Berlin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Berlin Italic'), url('/assets/fonts/Berlin - Italic.woff') format('woff');
  }


  @font-face {
  font-family: 'Berlin XBold XBold';
  font-style: normal;
  font-weight: normal;
  src: local('Berlin XBold XBold'), url('./assets/fonts/Berlin X-Bold.woff') format('woff');
  }

  @font-face {
  font-family: 'Berlin Bold Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Berlin Bold Bold'), url('./assets/fonts/Berlin Bold.woff') format('woff');
  }
