// Specific CSS for your home-page

.container-homepage {
  height: 540px;
  width: 360px;
  margin-top: 150px;
  // border: 1px solid black;
}

.container-1 {
display: flex;
width: 328px;
position: absolute;
bottom: 240px;
flex-direction: column;
display: flex;
align-items: center;
justify-content: center;
}

.container-2 {
  height: 200px;
  display: flex;
  position: absolute;
  bottom: 30px;
  align-items: center;
  justify-content: center;
}
