

.btn-4 {
  color: white;
  text-decoration: none;
  background-color: black;
  font-family: 'Berlin Bold Bold';

  height: 44px;
  text-align: center;
  font-size: 29px;
  margin: 10px 20px;
}

.btn-4 a {
  color: white;
  text-decoration: none;
  background-color: black;
  font-family: 'Berlin Bold Bold';

  height: 44px;
  text-align: center;
  font-size: 29px;
  margin: 10px 20px;
}

