.big-container-new-address {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.container-new-address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 360px;
  height: 760px;
  border: 1px solid black;
}

.create-form {
  width: 310px;
  margin: 20px;

}

.text-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.elevator-1 {
  padding: 20px 0;
}

