.container-show-address {
  display: flex;
  // flex-direction: row;
  // justify-content: center;
  flex-direction: row;
  justify-content: center;
  padding-left: 43px;



}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  height: 760px;
}

.address-show {
  display: flex;
  flex-direction: column;
  padding: 10px;
  // justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.address-show h2 {
  padding-bottom: 5px;
}

.address-show h3 {
  padding: 5px;
  // border-bottom: 1px solid black;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.other-info {
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
}

.other-info i {
  display: flex;
  justify-content: space-around;
  font-size: 65px;
  padding-top: 5px;
}

.other-info h3 {
  display: flex;
  justify-content: space-around;
}

// .each-info {
//   font-size: 16px;
//   color: black;
// }

.floor {
  background-color: #82DBD8;
  border-radius: 8px;
  font-size: 40px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.floor h3 {
  padding: 14px;
  font-size: 28px;
}

.elevator {
  background-color: #82DBD8;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.place-in-building {
  background-color: #82DBD8;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.description {
  padding: 20px;
}

.show-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
