

<%= @addresses.each do|address| %>
<h3><%= address.name %></h3>
<%= end %>




   t.string "name"
    t.string "address"
    t.string "kind_of_place"
    t.string "place_in_building"
    t.integer "floor"
    t.boolean "elevator"
    t.text "description"
    t.bigint "user_id", null: false
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
