<div class="container">

<img  src="<%= asset_url('front') %>" alt="A guy with that holds pins" width="328" height="225">

  <div class="container-1">

      <% if user_signed_in? %>
        <h1><strong>Hey <%= current_user.user_name || current_user.email %></strong></h1>
      <% else %>
      <h2>Please log in</h2>
      <% end %>

      <h3>Welcome to HERE.I.AM</h3>
  </div>

    <div class="container-2">

      <div class="buttons">

        <a><%= link_to "Add a new address", new_address_path, class: "btn btn-1" %></a>
        <a><%= link_to "My addresses", addresses_path, class: "btn btn-2" %></a>

      </div>
    </div>

</div>
