<div class="container-homepage">
          <h1 id="hereiam">Here I Am</h1>
          <br>
          <br>

  <img  src="<%= asset_url('front.png') %>" alt="A guy with earthball holds pins" width="328" height="225">

    <div class="container-1">

        <% if user_signed_in? %>
          <h1 id="hey">Hey <%= current_user.user_name || current_user.email %></h1>
        <% else %>
          <h2>Please log in</h2>
        <% end %>

        <h3 id="now"> Now you will be found! </h3>
    </div>

      <div class="container-2">

        <div class="buttons">

          <a><%= link_to "Add a new address", new_address_path, class: "btn btn-1" %></a>
          <a><%= link_to "My addresses", addresses_path, class: "btn btn-2" %></a>

        </div>
      </div>

</div>
