<h1> it works</h1>


<button class= "btn btn-dark"><%= link_to "sign out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to sign out?"}, class:"link-color"%></button>




<button class= "btn btn-dark">about here i am</button>
