<div>
  <h1 class="title"> settings</h1>
</div>

<%# <h2 class ="btn-4" > %>
<div>
  <%= link_to "sign out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to sign out?"}, class:"btn-4"%>
</div>

<br>

<div>
  <%= link_to "about here i am", root_path, class:"btn-4"%>
</div>




  <h2 class="btn-4">about here i am</h2>
