
<div class="big-container-new-address">
  <div class="container-new-address">

    <div class="create-form">

      <%= simple_form_for(@address) do |f| %>

        <div>
        <h2>Please insert your address</h2>
          <%= f.input :address,
          input_html: {data: {address_autocomplete_target: "address"}, class: "d-none" },
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
          %>
        </div>


        <div class="text-input">
        <h3><%#= address.address %></h3>
          <h2>Give your address a name</h2>
          <% f.label :name %>
          <%= f.text_field :name %>
          <button>next</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
