<div class="container" data-controller="geolocation" data-geolocation-api-key-value="<%= ENV["MAPBOX_API_KEY"]%>">

<h2 class="type-address my-5 text-center">Please type your address</h2>
  <%= simple_form_for @address, html: { autocomplete: "off" } do |f| %>
      <div data-geolocation-target="input"></div>

      <%= f.input :address,
      input_html: {data: {geolocation_target: "address" }, class: "d-none" }, label: false
      %>
  <div>
    <%#= link_to "use-location", new_address_path, data:{geolocation_target:"link", action:"click->gelocation#track"
    } %>
    <p class="use-location btn btn-1 add-address-btn" data-geolocation-target="link" data-action="click->geolocation#track">Use location</p>
  </div>

    <h2 class="my-5 give-name">Give your address a name</h2>

    <div class="container-address-name">
      <% f.label :name %>
      <%= f.text_field :name %>
      <button class="btn btn-1 add-address-btn">next</button>
    </div>
  <% end %>
</div>
